_win32/x64/**/Release/*
_win32/x64/**/Debug/
_win32/x64/*
_win32/tmp/*
_win32/Debug/*
tmp/*
**/x64/Debug/*
**/x64/Release/*
**/x64/ProdDebug/*
**/x64/ProdRelease/*
**/x64/DebugStatic/*
**/x64/ReleaseStatic/*
**/x64/Public/*
**/__pycache__/*
x64/*
.vs/*
*.sdf
*.suo
*.opensdf
*.aps
*.user
*.mp3
*.ogg
*.psess
*.vsp
*.ipch
_win32/My Advisor*
_win32/My Inspector*
_win32/Graphics*
_win32/My*
_win32/.vs/**
*.swp
*.etl
dist/*
*.db
*.opendb
*.vspx
logs/*
backup/*
*.diagsession
fuzz/*
.vscode/*
out/**